<footer class="footer mt-auto py-3 bg-body-tertiary">
    <div class="container text-body-secondary">
        <a href="https://github.com/gd-creators-toolbox/gd-creators-toolbox.github.io/edit/main/{{page.path}}"><i class="bi bi-file-earmark-code-fill"></i> View page source</a>
        <p class="">Copyright {{ 'now' | date: "%Y" }}, Geometry Dash Creator's Toolbox.</p>
        <a href="https://github.com/gd-creators-toolbox/gd-creators-toolbox.github.io"><i class="bi bi-github"></i> Github</a>
    </div>
    
</footer>